body {
    margin: 0; /* Uklanja marginu */
    padding: 0; /* Uklanja padding */
    /* Postavlja minimalnu visinu na 100vh */
}
.logo {
    width: 100px;
}
#layoutMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
}
header {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 100px 10px 50px;
    text-align: center;
    border-bottom: 1px solid rgba(23, 22, 22, 0.122);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meni {
    display: flex;
}
.meni div {
    margin: 0 0.8em;
}
header nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: x-large;
    font-family: "Dancing Script", cursive;
}

header nav a:hover {
    color: #ad9551;
}
.notificationDiv {
    background-color: #ad9551;
    color: white;
    text-decoration: none;
    font-size: medium;
    margin: -1.5em 0 0 -1.5em;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificationDiv:hover {
    cursor: pointer;
}

/* Stilizacija footer-a */
footer {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 9px -4px 12px;
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
header .logo {
    font-size: 50px; /* Prilagodite veličinu slova prema potrebi */
    font-weight: bold; /* Podešavanje debljine slova */
    color: rgb(232, 220, 54); /* Postavljanje boje slova na zlatnu */
    float: left; /* Postavljanje logoa na levu stranu */
}

header .logo span {
    display: inline; /* Svako slovo na istom redu */
}

/* Stilizacija za navigaciju */
.page-link {
    color: black;
}
.page-link:hover {
    color: white;
    background-color: #ad9551;
}
.zlatnabg {
    background-color: #ad9551 !important;
    border: 0.5px solid grey !important;
}
.login-regDiv {
    padding: 0;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-reg {
    text-decoration: none !important;
    color: #000000;
    font-weight: bold;
    font-size: x-large;
    margin: 0 0.5em;
    font-family: "Dancing Script", cursive;
}

.login-reg:hover {
    color: #ad9551 !important;
}
.error {
    color: red;
}
.reglog {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reglog p {
    margin: 0;
    font-size: larger;
}
/* Stilizacija za navigaciju */
.LogoutBtn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: x-large;
    margin-left: 2em;
}
